%h1 Sign-up

= form_tag users_path do

  = label :user, :signup_id, 'User-ID'
  = text_field :user, 'signup_id'

  = label :user, :signup_email, 'Email'
  = text_field :user, 'signup_email'

  = submit_tag 'Create Account', :id=>'signup_submit'

